#login-c {
    background-color: var(--primary-light);

    font-family: 'Proza Libre', sans-serif;
    font-size: 1.25rem;  

    margin: 5rem 30%;
    padding: 5%;

    border-radius: 1em;
}


#login-c input {
    height: 3rem;
    font-size: 1.25rem;
    padding-left: 1rem;
}

#login-c form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch; 
}

#title-text {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: .1em .1em .1em var(--shadow);

    text-align: center;

    margin: 0 0 var(--margin-itens) 0;
}

#email-c {
    display: grid;
    grid-template: auto auto;
    gap: .5rem;

    margin: 0 0 var(--margin-itens) 0;
}

#passwd-c {
    display: grid;
    grid-template: auto auto;
    gap: .5rem;

    padding: 0 0 calc(var(--margin-itens) * 1.5) 0;
}

#button-create-account {
    margin: 0 0 var(--margin-itens) 0;
}

#button-create-account button {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;

    border-radius: 15px;
    background-color: var(--primary-dark);
    
    height: 3rem;
    width: 100%;

    padding: var(--padding-itens) 0 var(--padding-itens) 0;
}

button:hover {
    box-shadow: .15em .15em .25em var(--shadow);
}

button:hover span {
    color: var(--text-light);
    text-shadow: .15em .15em .25em var(--shadow);
}

