#account-container {
    background-color: var(--primary-light);

    font-family: 'Proza Libre', sans-serif;
    font-size: 1.25rem;  

    margin: 5rem 20%;
    padding: 5%;

    border-radius: 1em;
}

/*
#account-container input {
    height: 3rem;
    font-size: 1.25rem;
    padding-left: 1rem;
}*/
/*
#account-container form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch; 
}
*/

#account-books-container ul {
    list-style: none;
}

#account-details-container {
    margin-bottom: var(--margin-itens);
}


.account-book {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}   

.account-book a {
    text-decoration: none;
    color: var(--text-dark);
}

.account-title {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: .1em .1em .1em var(--shadow);

    text-align: center;

    margin: 0 0 var(--margin-itens) 0;
}

.account-book-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.account-book-info li {
    padding: 0 0 15px 15px;
}

.account-book-cover {
    border-radius: 15px;
}