#books-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1rem;

    background-color: var(--background);
    padding: 5rem var(--container-lr-padding);
}

#books-container a {
    transition: transform calc(var(--transition-time) / 3) linear;
}

#books-container a:hover {
    transform: scale(1.0625); /* 1 / 32 */
    
    border-radius: 15px;
    box-shadow: 0px 0px 16px 5px var(--shadow);
}

.book {
    /*height: 288px;
    width: 192px;*/

    height: 100%;
    width: 100%;

    border-radius: 15px;
}

.book-description {
    text-align: center;
    position: absolute;
}