#nav-bar-c {
    position: sticky;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    padding: 0 var(--container-lr-padding);

    background-color: var(--primary-light);

    box-shadow: 0 .5em .75em -.25em var(--shadow-light);

    /*font-family: "Proza Libre", sans-serif;*/
    font-weight: 800;
    font-size: 1.25rem;

    z-index: 3;
}

#nav-bar-c a
{
    padding: .375em 1em .25em 1em;
    border-radius: 1em;
    
    text-decoration: none;
    
    color: var(--text-dark);
    background-color: transparent;

    transition: transform calc(var(--transition-time) * 2) cubic-bezier(0.19, 1, 0.22, 1);
}
  
#nav-bar-c a:hover
{
    transform: translateY(.5em);

    color: var(--text-light);
    background-color: var(--primary-dark);
    
    box-shadow: .25em .25em .5em var(--shadow);
    
}