#page-header {
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}

#page-header-small {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 1em;
}

.logo-text {
    font-family: 'Proza Libre', sans-serif;
    text-shadow: .1em .1em .1em var(--shadow);
    color: var(--text-dark);
    background-color: var(--primary-light);
}
