<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} • Bookshelf!</title>
</head>
<body>
	<!-- NAVBAR -->
	{% block nav %}
	<nav>
		<a href="/">Home</a>
		{% if user %}
			<a href="/logout">Logout</a>
		{% else %}
			<a href="/register">Register</a>
			<a href="/login">Login</a>
		{% endif %}
		
	</nav>
	{% endblock nav %}

	<!-- FLASH MESSAGES -->
	{% for message in flash %}
		<div id="flash" class="flash-{{message.type}}">
			<span>{{ message.text }}</span>
		</div>
	{% endfor %}
	
	{% block body %}{% endblock %}
	
	{% block footer %}{% endblock footer %}

	{% block scripts %}{% endblock scripts %}
</body>
</html>
