<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/img/icon/logo_light.png">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/flash.css">
	<link rel="stylesheet" href="/css/nav.css">
	{% block styles %}{% endblock %}
	<title>{% block title %}{% endblock %} • Bookshelf!</title>
</head>
<body>
	<!-- NAVBAR -->
	{% block nav %}
	<nav id="nav-con">
		<a href="/" class="nav-item">Home</a>
		<a href="/search/index" class="nav-item">Search</a>
		{% if user %}
			{% if user.id_user_type == 2 %}
				<a href="/admin/menu" class="nav-item">Admin</a>
			{% else %}
				<a href="/book/sell" class="nav-item">Sell</a>
			{% endif %}
			<a href="/profile/index" class="nav-item">Profile</a>
			<a href="/logout" class="nav-item">Logout</a>
		{% else %}
			<a href="/register" class="nav-item">Register</a>
			<a href="/login" class="nav-item">Login</a>
		{% endif %}
		
	</nav>
	{% endblock nav %}
	
	<!-- FLASH MESSAGES -->
	<div id="flash-con">
		{% for message in flash %}
			<div class="flash-message flash-{{message.type}}">
				<img src="/img/icon/flash/{{ message.type }}.svg">
				<h3>{{ message.text }}</h3>
			</div>
		{% endfor %}
	</div>
	
	{% block body %}{% endblock %}
	
	{% block footer %}{% endblock footer %}
	
	{% block scripts %}{% endblock scripts %}
</body>
</html>
