{% extends "base.html" %}

{% block title %}Sell{% endblock %}

{% block body %}

	{% if book.errors is not empty %}
	<div>
		<ul>
			{% for error in book.errors %}	
			<li>{{error}}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<main class="s-main-con">
		<h1 class="s-tittle">Sell</h1>
		<form method="POST" enctype="multipart/form-data" action="/book/insert" id="register-new-form" class="s-form">
			<fieldset class="s-fieldset">
				<label>Cover Image</label>
				<input type="file" name="cover_image" required>			
			</fieldset>
			<fieldset class="s-fieldset">
				<label>Name</label>
				<input type="text" name="name"  value="{{ book.name }}" required>
			</fieldset>
			<fieldset class="s-fieldset">
				<label>Author</label>
				<input type="text" name="author" value="{{ book.author }}" required>
			</fieldset>
			<fieldset class="s-fieldset">
				<label>Genre</label>
				<select name="id_genre">
					{% for genre in book_genres %}
						<option value="{{ genre.id }}">{{ genre.name }}</option>
					{% endfor %}
				</select>
				<!--
					<input type="text" name="id_genre" value="{{ book.id_genre }}" required>			
				-->
			</fieldset>
			<fieldset class="s-fieldset">
				<label>ISBN</label>
				<input type="text" name="isbn" value="{{ book.isbn }}">			
			</fieldset>
			<fieldset class="s-fieldset">
				<label>Price</label>
				<input type="number" name="price" value="{{ book.price }}" required>			
			</fieldset>
			<fieldset class="s-checkbox">
				<input type="checkbox" name="terms" required>
				<label>I read and agree with the <a href="terms.html.php">Terms and Conditions</a></label>
			</fieldset>
			<fieldset class="s-button">
				<button type="submit">Sell!</button>
			</fieldset>
		</form>
	</main>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" 
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#register-new-form').validate({
				rules: {
					password: {
						required: true,
						minlength: 8,
						passwordLetterAndNumber: true
					}
				},
				messages: {
					fullname: 'Thats not a valid name',
					email: {
						required: 'Please, enter an email',
						email: 'Invalid email format'
					}
				}
			});
		});
	</script>
{% endblock scripts %}
