{% extends "base.html" %}

{% block title %}{{ book.name }}{% endblock %}

{% block body %}
	<h1>{{ book.name }}</h1>

	<ul>
		<li>
			<label>Name</label>
			<span>{{ book.name }}</span>
		</li>
		<li>
			<label>Author</label>
			<span>{{ book.id_author }}</span>
		</li>
		<li>
			<label>Genre</label>
			<span>{{ book.id_genre }}</span>
		</li>
		<li>
			<label>ISBN</label>
			<span>{{ book.isbn }}</span>
		</li>
		<li>
			<label>Price</label>
			<span>{{ book.price }}</span>
		</li>
		<li>
			<label>Cover Image</label>
			<span>{{ book.cover_image }}</span>
		</li>
	</ul>
{% endblock %}