{% extends "base.html" %}


{% block styles %}
	<link rel="stylesheet" href="/css/book/view.css">
{% endblock %}

{% block title %}{{ book.name }}{% endblock %}

{% block body %}
	<main class="s-main-con">
		<h1 class="s-tittle">{{ book.name }}</h1>
		<img
			src="/img/users_upload/books_cover/{{ book.id }}"
			alt="{{ book.name }}"
			height="auto"
			width="100%"
			class="book-view-cover-image"
		>
		<ul class="book-view-info-con">
			<li>
				<label>Author</label>
				<span>{{ book.author }}</span>
			</li>
			{% if book.genre_name %}
				<li>
					<label>Genre</label>
					<span>{{ book.genre_name }}</span>
				</li>
			{% endif %}
			{% if book.isbn %}
				<li>
					<label>ISBN</label>
					<span>{{ book.isbn }}</span>
				</li>
			{% endif %}
			<li>
				<label>Price</label>
				<span>{{ book.price }}</span>
			</li>
		</ul>
		{% if book.id_owner == user.id %}
		<div>
			<form action="/book/{{ book.id }}/edit" class="s-button" style="margin-bottom: 16px;">
				<button type="submit">Edit</button>
			</form>
			<form action="/book/{{ book.id }}/delete" class="s-button">
				<button type="submit" style="background-color: var(--error); color: var(--text-light)">Delete</button>
			</form>
		</div>
		{% else %}
			<form action="#" class="s-button">
				<button type="submit">Buy!</button>
			</form>
		{% endif %}
	</main>
{% endblock %}