#flash-con {
	width: 100%;

	margin: 8px 0;

	text-align: center;
}

.flash-message h3 {
	color: var(--text-light);
}

.flash-message img {
	display: block;
	padding: 0 8px;
}

.flash-message {
	padding: 8px;
	display: flex;
	flex-direction: row;
}

.flash-info {
	background-color: var(--info);
}

.flash-success {
	background-color: var(--success);
}

.flash-warning {
	background-color: var(--warning);
}

.flash-error {
	background-color: var(--error);
}