#nav-con {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	
	padding: 0 clamp(25px, 10%, 1024px);
	
	background-color: var(--primary-light);
	box-shadow: 0 .5rem .75rem -.25rem var(--shadow-light);
}

.nav-item {
	z-index: 100;
	
	padding: .25em clamp(0px, .75em, 3em);
	
	/*font: bold 1rem var(--font-main);*/
	font: bold clamp(.75rem, 4vw, 1.25rem) var(--font-main);
	color: var(--text-dark);
	text-decoration: none;
	
	border-radius: 16px;
	background: transparent;

	transition: transform calc(var(--transition-time) * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-item:hover {
	transform: translateY(6px);

	color: var(--text-light);

	background: var(--primary-dark);
	
	box-shadow: var(--shadow-small);
}
