/* ==> ORDER <==
 *  1. layout
 *  2. box model
 *  3. fonts
 *  4. aparence
 *  5. animations
 */

:root {
	/* COLORS */
	--primary-dark: #50AADD;
	--primary-light: #8FD4EF;
	--background: #EAF5FB;

	--info: #00f;
	--success: #0f0;
	--warning: #ff0;
	--error: #f33a1a;

	--text-dark: #000b11;
	--text-light: #fefeff;

	--shadow: rgba(0,0,0,.3);
	--shadow-light: rgba(0,0,0,.15);

	/* STANDARD SIZES */
	--width-con-small: clamp(200px, 15%, 1000px);
	--width-con-large: clamp(360px, 85%, 900px);
	--width-con-mobile: clamp(320px, 95%, 1024px);

	--margin-con: 100px;

	--padding-con: 16px;

	/* STANDARD SHADOWS */
	--shadow-small: 2px 2px 4px 0px var(--shadow-light);
	--shadow-large: 2px 2px 8px 2px var(--shadow);

	--container-lr-padding: 15%;
	--margin-itens: 3rem;
	--transition-time: 250ms;

	--rounding: 15px;
	
	--margin: 15px;
	--pading: 15px;

	/* FONTS */
	--font-main: 'Proza Libre', sans-serif;

	/* DEFAULTS */
	font-family: 'Proza Libre', Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--text-dark);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	
	box-sizing: border-box;
}

/*
body::-webkit-scrollbar {
	width: 1rem;
}
body::-webkit-scrollbar-track {
	background-color: var(--background);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--primary-light);
	border-radius: 1rem;
	box-shadow: 0 0 1rem var(--shadow);
}*/

.s-button button {
	height: 3rem;
	width: 100%;
	
	font: bold 1.25rem var(--font-main);
	color: var(--text-dark);
	
	padding: 0 1em;

	border-radius: var(--rounding);
	background-color: var(--primary-dark);
	
	cursor: pointer;

	transition: transform calc(var(--transition-time) / 4) linear;
}

.s-button button:hover {
	transform: scale(1.0625);

	color: var(--text-light);
	
	box-shadow: var(--shadow-small);
}

.s-fieldset {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.s-fieldset label {
	font-size: 1rem;
}

.s-fieldset input[type="text"],[type="email"],[type="password"],[type="number"],[type="date"] {
	border-radius: var(--rounding);
	
	height: 3em;
	width: 100%;
	padding-left: 1em;

	font: bold 1rem var(--font-main);
	color: var(--text-dark);

	background-color: var(--background);
}

.s-fieldset div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.s-fieldset img {
	display: block;

	margin: 4px;
}

.s-fieldset button {
	right: 0;
	background-color: transparent;
}
/*
.s-fieldset button {
	height: 100%;
}
*/

.s-main-con {
	width: var(--width-con-mobile);

	margin: 32px auto auto auto;
	padding: var(--padding-con);

	background-color: var(--primary-light);
	border-radius: var(--rounding);
}

.s-tittle {
	margin-bottom: 32px;

	font: bold 2rem var(--font-main);

	text-align: center;
	line-height: 1em;
}

.s-form {
	display: grid;
	grid-template-columns: auto;
	gap: 32px;
}
