{% extends "base.html" %}

{% block styles %}<link rel="stylesheet" href="/css/access/login.css">{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
	<main class="s-main-con">
		<h1 class="s-tittle">Login</h1>
		<form method="POST" action="/access/validate" id="access-login-form" class="s-form">
			<fieldset class="s-fieldset">
				<label>Email</label>
				<input type="email" name="email" {% if user.email %} value="{{ user.email }}" {% endif %} required>
			</fieldset>
			<fieldset class="s-fieldset">
				<label>Password</label>
				<div>
					<input type="password" name="password" id="password" required>
						<button type="button" onclick="toggle_password_visibility()">
							<img id="password-visibility-img" src="/img/icon/visibility_off.svg">
						</button>
					</input>
				</div>
				<!--small>Password must be 8 or above characters and contain at least a letter and a number.</small-->
			</fieldset>
			<fieldset class="s-button">
				<button type="submit">Login!</button>
			</fieldset>
		</form>
	</main>
{% endblock %}

{% block scripts %}
<script>
	function toggle_password_visibility(){
		let password = document.getElementById("password");
		let vis = document.getElementById("password-visibility-img");
		if(password.type === "password"){
			password.type = "text";
			vis.src = "/img/icon/visibility_on.svg";
		} else {
			password.type = "password"
			vis.src = "/img/icon/visibility_off.svg";
		}
		return false;
	}
</script>
{% endblock scripts %}
