{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
	<h1>Login page</h1>

	{% if user.errors is not empty %}
		<div>
			<ul>
				{% for error in user.errors %}	
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form method="POST" action="/access/validate" id="register-new-form">
		<fieldset>
			<label>Email</label>
			<input type="email" name="email" value="{{ user.email }}" required>
		</fieldset>
		<fieldset>
			<label>Password</label>
			<input type="password" name="password" id="password" required>
			<button type="button" onclick="toggle_password_visibility()"><img id="password-visibility-img" src="/img/icon/visibility_off.svg"></button>
			<!--small>Password must be 8 or above characters and contain at least a letter and a number.</small-->
		</fieldset>
		<fieldset>
			<button type="submit">
				<span>Login!</span>
			</button>
		</fieldset>
	</form>
{% endblock %}

{% block scripts %}
<script>
	function toggle_password_visibility(){
		let password = document.getElementById("password");
		let vis = document.getElementById("password-visibility-img");
		if(password.type === "password"){
			password.type = "text";
			vis.src = "/img/icon/visibility_on.svg";
		} else {
			password.type = "password"
			vis.src = "/img/icon/visibility_off.svg";
		}
		return false;
	}
</script>
{% endblock scripts %}
