.book-view-cover-image {
	border-radius: var(--rounding);
}

.book-view-info-con {
	list-style: none;
}

.book-view-info-con label {
	font-weight: bold;
}

.book-view-info-con li {
	display: flex;
	flex-direction: column;

	margin-top: 16px;
}
