#home-index-book-con {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
	justify-items: stretch;
	gap: 8px;

	width: var(--width-con-mobile);
	margin: 16px auto;
}

@media screen and (min-width: 900px) {
	#home-index-book-con {
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
}

.home-index-book img {
	display: block; /* This is nedded so the image doesn't have a space in the bottom*/
	
	width: 100%;
	height: 100%;
	border-radius: var(--rounding);
}

.home-index-book img {
	transition: transform calc(var(--transition-time) * .5) ease-in-out;
}

.home-index-book:hover img {
	transform: scale(1.0625); /* 1 / 32 */
    
    box-shadow: var(--shadow-large);
}
